
.contact img{
    width: 30px;
    width: 30px;
    margin:  -5px 20px;
    }
    .contact span{
        margin: 5%;
    
    }
    .contact{
        margin: 5% 0% 5% 25%;
        text-align: center;
    }
    .copyright{
        text-align: center;
        margin-bottom: 20px;
    }